<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th style="width:15%">
          <a href="" ng-click="setOrderMember('last_name')">{{ 'surname' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='last_name', 'fa fa-sort-alpha-desc': member.order=='-last_name', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:15%">
          <a href="" ng-click="setOrderMember('first_name')">{{ 'first_name' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='first_name', 'fa fa-sort-alpha-desc': member.order=='-first_name', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:15%" class="hidden-xs">
          <a href="" ng-click="setOrderMember('email')">{{ 'email' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='email', 'fa fa-sort-alpha-desc': member.order=='-email', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:10%" class="hidden-xs hidden-sm hidden-md">
          <a href="" ng-click="setOrderMember('phone')">{{ 'phone' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-numeric-asc': member.order=='phone', 'fa fa-sort-numeric-desc': member.order=='-phone', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:20%" class="hidden-xs hidden-sm">
          <a href="" ng-click="setOrderMember('group')">{{ 'user_type' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='group', 'fa fa-sort-alpha-desc': member.order=='-group', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:15%" class="hidden-xs hidden-sm hidden-md">
          <a href="" ng-click="setOrderMember('plan')">{{ 'subscription' | translate }}
            <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': member.order=='plan', 'fa fa-sort-alpha-desc': member.order=='-plan', 'fa fa-arrows-v': member.order }"></i>
          </a>
        </th>

        <th style="width:10%"></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="_member in deactivateMembers">
        <td class="text-c">{{ _member.profile.last_name }}</td>
        <td class="text-c">{{ _member.profile.first_name }}</td>
        <td class="hidden-xs">{{ _member.email }}</td>
        <td class="hidden-xs hidden-sm hidden-md">{{ _member.profile.phone }}</td>
        <td class="text-u-c text-sm hidden-xs hidden-sm">{{ _member.group.name }}</td>
        <td class="hidden-xs hidden-sm hidden-md">{{ _member.subscribed_plan | humanReadablePlanName }}</td>
        <td>
          <div class="buttons">
            <button class="btn btn-default" ui-sref="app.admin.members_edit({id: _member.id})">
              <i class="fa fa-edit"></i> {{ 'edit' | translate }}
            </button>
            <span class="label label-danger text-white" ng-show="_member.need_completion" translate>{{ 'incomplete_profile' }}</span>
          </div>
        </td>
        <td>
          <button class="btn btn-success" ng-click="activateMember(deactivateMembers, _member)">
            <i class="fas fa-play"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-warning" ng-click="showNextMembers()" ng-hide="member.noMore"><i class="fa fa-search-plus" aria-hidden="true"></i> {{ 'display_more_users' | translate }}</button>
  </div>
</div>
