<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<input name="_method" type="hidden" ng-value="method">
<input name="admin[profile_attributes][id]" type="hidden" ng-value="admin.profile_attributes.id">

<div class="row m-t">
  <div class="col-sm-offset-2 col-sm-8">
   <div class="form-group" ng-class="{'has-error': adminForm.gender.$dirty && adminForm.gender.$invalid}">
          <div class="col-sm-12">
            <label class="checkbox-inline">
              <input type="radio"
                     name="gender_man"
                     ng-model="admin.profile_attributes.gender"
                     value="man"/>
                     <i class="fa fa-male m-l-sm"></i> {{ 'man' | translate }}
            </label>
            <label class="checkbox-inline">
              <input type="radio"
                     name="gender_woman"
                     ng-model="admin.profile_attributes.gender"
                     value="woman"/>
                     <i class="fa fa-female m-l-sm"></i>  {{ 'woman' | translate }}
            </label>
            <label class="checkbox-inline">
              <input type="radio"
                     name="gender_non"
                     ng-model="admin.profile_attributes.gender"
                     value="non-binary"/>
                     <i class="fas fa-genderless m-l-sm"></i>
                     {{ 'non_binary' | translate }}
            </label>
          </div>
        </div>


    <div class="form-group" ng-class="{'has-error': adminForm['admin[username]'].$dirty && adminForm['admin[username]'].$invalid}">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i><span class="exponent"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
        <input ng-model="admin.username"
               type="text" 
               name="admin[username]"
               class="form-control"
               id="user_username"
               placeholder="{{ 'pseudonym' | translate }}"
               required>
      </div>
      <span class="help-block" ng-show="adminForm['admin[username]'].$dirty && adminForm['admin[username]'].$error.required" translate>{{ 'pseudonym_is_required' }}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': adminForm['admin[profile_attributes][last_name]'].$dirty && adminForm['admin[profile_attributes][last_name]'].$invalid}">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i><span class="exponent"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
        <input ng-model="admin.profile_attributes.last_name"
               type="text"
               name="admin[profile_attributes][last_name]"
               class="form-control"
               id="user_last_name"
               placeholder="{{ 'surname' | translate }}"
               required>
      </div>
      <span class="help-block" ng-show="adminForm['admin[profile_attributes][last_name]'].$dirty && adminForm['admin[profile_attributes][last_name]'].$error.required" translate>{{ 'surname_is_required' }}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': adminForm['admin[profile_attributes][first_name]'].$dirty && adminForm['admin[profile_attributes][first_name]'].$invalid}">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i><span class="exponent"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
        <input ng-model="admin.profile_attributes.first_name"
               type="text"
               name="admin[profile_attributes][first_name]"
               class="form-control"
               id="user_first_name"
               placeholder="{{ 'first_name' | translate }}"
               required>
      </div>
      <span class="help-block" ng-show="adminForm['admin[profile_attributes][first_name]'].$dirty && adminForm['admin[profile_attributes][first_name]'].$error.required" translate>{{ 'first_name_is_required' }}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': adminForm['admin[email]'].$dirty && adminForm['admin[email]'].$invalid}">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i> <span class="exponent"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
        <input type="email"
               name="admin[email]"
               ng-model="admin.email"
               class="form-control"
               id="user_email"
               placeholder="{{ 'email_address' | translate }}"
               ng-disabled="preventField['admin.email'] && admin.email && !adminForm['admin[email]'].$dirty"
               required/>
      </div>
      <span class="help-block" ng-show="adminForm['admin[email]'].$dirty && adminForm['admin[email]'].$error.required" translate>{{ 'email_is_required' }}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': admin.profile_attributes.birthday != null && !admin.profile_attributes.birthday.isValid()}">
      <label for="date_of_birth" translate>{{ 'birth_date' }}*</label>
      <div class="row">
        <div class="col-md-4"> 
          <div class="input-group">
            <span class="input-group-addon">D</span>
            <select class="form-control" ng-model="admin.profile_attributes.birthDay" ng-change="birthdayChanged()">
              <option ng-repeat="day in days">{{ day }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">M</span>
            <select class="form-control" ng-model="admin.profile_attributes.birthMonth" ng-change="birthdayChanged()">
              <option ng-repeat="month in months">{{ month }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">Y</span>
            <select class="form-control" ng-model="admin.profile_attributes.birthYear" ng-change="birthdayChanged()">
              <option ng-repeat="year in years">{{ year }}</option>
            </select>
          </div>
        </div>
      </div>
      <input type="hidden" ng-model="admin.profile_attributes.birthday" name="user[profile_attributes][birthday]">
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i> </span>
        <input type="hidden"
               name="admin[profile_attributes][address_attributes][id]"
               ng-value="admin.profile_attributes.address.id" />
        <input ng-model="admin.profile_attributes.address_attributes.address"
               type="text"
               name="admin[profile_attributes][address_attributes][address]"
               class="form-control"
               id="user_address"
               placeholder="{{ 'address' | translate }}">
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': adminForm['admin[profile_attributes][phone]'].$dirty && adminForm['admin[profile_attributes][phone]'].$invalid}">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input ng-model="admin.profile_attributes.phone"s
               type="text"
               name="admin[profile_attributes][phone]"
               ng-pattern=/^\+?\d{7,12}$/
               class="form-control"
               id="user_phone"
               placeholder="{{' +5555555555' | translate }}"
               ng-disabled="preventField['profile.phone'] && user.profile.phone && !userForm['user[profile_attributes][phone]'].$dirty"
               />
      </div>

    </div>
  </div>

</div>
