<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-8">
 <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="well m-b-n">
      <div class="form-group">
      <div class="widget">
      <div class="fecha" style="text-align: center;">
      <p style="text-align: center;"> <span id="diaSemana" class="diaSemana"></span>
      <span id="dia" class="dia"></span>
      <span>de</span>
      <span id="mes" class="mes"></span>
      <span>del</span>
      <span id="anio" class="anio"></span>
      </p>
      </div>
      <div class="reloj">
      <p style="text-align: center;"> <span id="horas" class="horas"></span>
      <span>:</span>
      <span id="minutos" class="minutos"></span>
      <span>:</span>
      <span class="cajaSegundos">
        <span id="segundos" class="segundos"></span>
        <span id="ampm" class="ampm"></span>
      </span>
    </p>
    </div>

  </div>
</div>
</div>
<div ng-if ="is_auth %% lastcheck != null" class="Last Check">
   <div class="well m-b-n">
      <div class="form-group">
      <div class="widget" style="text-align: center;">
      <h2 >LAST CHECK</h2>
      <p style="text-align: center; "> <span>Checkin :</span>
      <span>{{lastcheck.check_in}}</span>
    </p>
      <p style="text-align: center;">
      <span>Checkout :</span>
        <span >{{lastcheck.check_out}}</span>
      
    </p>
    </div>
  </div></div></div>
</div>
    </header>
    <body>
    <div ng-if="!is_auth">
      <div class="well m-b-n">
        
       <form role="form" name="checkinForm" class="form-horizontal" novalidate autocomplete="off">

        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i><span class="exponent"></span>
            </span>
              <input type="email"
                     name="email"
                     ng-model="user.email"
                     class="form-control"
                     placeholder="{{ 'your_email_address' | translate }}"
                     required>
            </div>
            <span class="help-block" translate>{{ 'email_is_required' }}</span>
          </div>
        </div>
             
               <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input type="password"
                     name="password"
                     ng-model="user.password"
                     class="form-control"
                     placeholder="{{ 'your_password' | translate }}"
                     required
                     ng-minlength="8">
            </div>
            <span class="help-block" translate>{{ 'password_is_required' }}</span>
            <span class="help-block" translate>{{ 'password_is_too_short_(minimum_8_characters)' }}</span>
          </div>
        </div>
          <div class="modal-footer no-padder">
    <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" id ="look_for_user" ng-click="login()" ng-disabled="checkinForm.$invalid" translate>{{ 'Find user' }}</button>
    <!-- ng-click="login()" -->
  </div>
  </form>
 </div>
</div>

<div ng-if="is_checked && is_auth">


  <div class="well m-b-n" id = "check">
      <form role="form" name="checkForm" class="form-horizontal" novalidate autocomplete="off">        
        <input name="authenticity_token" type="hidden" ng-value="csrfToken"/>
          <div class="modal-footer no-padder">
             
             <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" id ="look_for_user" ng-click="check()" ng-disabled="checkinForm.$invalid" translate>{{ 'Checkout' }}</button>
            <!-- ng-click="login()" -->
          
        </div>
       </form>
        </div>
    

  </div>
<div ng-if="!is_checked && is_auth">
  <div class="well m-b-n" id = "check">
      <form role="form" name="checkForm" class="form-horizontal" novalidate autocomplete="off">        
        <input name="authenticity_token" type="hidden" ng-value="csrfToken"/>
          <div class="modal-footer no-padder">
          
            <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" id ="look_for_user" ng-click="check()" ng-disabled="checkinForm.$invalid" translate>{{ 'Checkin' }}</button>
            <!-- ng-click="login()" -->
          
        </div>
       </form>
        </div>
    

  </div>
  <div class="well m-b-n" id = "cancel" ng-if ="is_auth">
      <form role="form" name="checkForm" class="form-horizontal" novalidate autocomplete="off">        
        
          <div class="modal-footer no-padder">
          
            <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" ng-click="cancel()" ng-disabled="checkinForm.$invalid" translate>{{ 'Cancel' }}</button>
            <!-- ng-click="login()" -->
          
        </div>
       </form>
        </div>
  
    </body>
  </div>
</div>