<div class="about-fablab scrollable">
  <div class="row padder">
    <header class="about-picture">
      <div class="col-sm-offset-2 col-md-offset-3 col-sm-10 col-md-8">

            <div class="well m-b-n">
      <div class="form-group">
      <div class="widget">
      <div class="fecha">
      <p id="diaSemana" class="diaSemana"></p>
      <p id="dia" class="dia"></p>
      <p>de</p>
      <p id="mes" class="mes"></p>
      <p>del</p>
      <p id="anio" class="anio"></p>
      </div>
      <div class="reloj">
      <p id="horas" class="horas"></p>
      <p>:</p>
      <p id="minutos" class="minutos"></p>
      <p>:</p>
      <div class="cajaSegundos">
        <p id="ampm" class="ampm"></p>
        <p id="segundos" class="segundos"></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
    </header>
    <body>

      <div class="well m-b-n">
      <form role="form" name="checkinForm" class="form-horizontal" novalidate autocomplete="off">

        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i><span class="exponent"></span>
            </span>
              <input type="text"
                     name="studentId"
                     ng-model="user.studentId"
                     class="form-control"
                     placeholder="{{ 'your_student_id' | translate }}"
                     required>
            </div>
            <span class="help-block" translate>{{ 'student_id_is_required' }}</span>
          </div>
        </div>
        {{user}}
    <div class="modal-footer no-padder">
    <button class="btn btn-valid btn-warning btn-block p-l btn-lg text-u-c r-b" ng-click="ok()" ng-disabled="checkinForm.$invalid" translate>{{ 'Check In' }}</button>
  </div>
</div>
    </body>
  </div>
</div>
