'use strict'
#controller used in checkin view
Application.Controllers.controller "CheckInController",["$rootScope", "$scope", "$window", '$locale', "Session", "Auth", "$uibModal", "$state", 'growl', 'Notification', '$interval', "Setting", '_t','CSRF'
, ($rootScope, $scope, $window, $locale, Session, Auth, $uibModal, $state, growl, Notification, $interval, Setting, _t,CSRF) ->
  
  dateUpdate = ->
    date = new Date
    hour = date.getHours()
    minutes = date.getMinutes()
    seconds = date.getSeconds()
    dayofweek = date.getDay()
    day = date.getDate()
    month = date.getMonth()
    year = date.getFullYear()
    ampm = undefined
    $pHours = $('#hours')
    $pSeconds = $('#seconds')
    $pMinutes = $('#minutes')
    $pAMPM = $('#ampm')
    $pDayofweek = $('#dayofweek')
    $pDay = $('#day')
    $pMonth = $('#month')
    $pYear = $('#year')
    week = [
      'Sunday'
      'Monday'
      'Tuesday'
      'Wednesday'
      'Thursday'
      'Friday'
      'Saturdays'
    ]
    months = [
      'January'
      'February'
      'March'
      'April'
      'May'
      'June'
      'July'
      'August'
      'September'
      'Octuber'
      'November'
      'December'
    ]
    $pDayofweek.text week[dayofweek]
    $pDay.text day
    $pMonth.text months[month]
    $pYear.text year
    if hour >= 12
      hour = hour - 12
      ampm = 'PM'
    else
      ampm = 'AM'
    if hour == 0
      hour = 12
    if hour < 10
      $pHours.text '0' + hour
    else
      $pHours.text hour
    if minutes < 10
      $pMinutes.text '0' + minutes
    else
      $pMinutes.text minutes
    if seconds < 10
      $pSeconds.text '0' + seconds
    else
      $pSeconds.text seconds
    $pAMPM.text ampm

  #when click on find user
  $scope.login = () -> 
    user=$scope.user
    Auth.login(user).then (user) ->
    # Authentification succeeded ...
        url= 'check_ins/'+user.id+'/is_checked'
        $('.page-alert').alert 'close'
        $.get url, (response)->
          $scope.is_checked = response.message
          if $scope.is_checked
           $scope.messages = _t('you_have_checked_out_successfully')
          is_auth = $scope.is_auth = true
          $scope.lastcheck=response.lastCheck
          $scope.lastcheck.check_in = new Date($scope.lastcheck.check_in).toLocaleString()
          if $scope.lastcheck.check_out
             $scope.lastcheck.check_out = new Date($scope.lastcheck.check_out).toLocaleString()
        Auth.logout(user)
        $scope.id = user.id
    , (error) ->
        # Authentication failed...
        $('.page-alert').alert 'close'
        createNoty _t('wrong_email_or_password'), 'danger'
        $('#my-alert').fadeTo(50000, 500).slideUp 500, ->
          $(this).alert 'close'
        $('.page-alert .close').click (e) ->
         e.preventDefault()
         $(this).closest('.page-alert').slideUp()
        
  #when click check in or checkout
  $scope.check = () -> 
      CSRF.setMetaTags()
      url= 'check_ins/'+$scope.id+'/check'
      $.post url, (response)->
        createNoty $scope.messages, 'success'
        #close the alert after some time
        $('#my-alert').fadeTo(5000, 500).slideUp 500, ->
          $(this).alert 'close'
        $('.page-alert .close').click (e) ->
         e.preventDefault()
         $(this).closest('.page-alert').slideUp()
        initialize()
  #when click cancel
  $scope.cancel =()->
    initialize()
  #create the notifiacations
  createNoty = (message, type) ->
    html = '<div class="alert alert-' + type + ' alert-dismissable page-alert" id= "my-alert" style="text-align: center;">'
    html += '<button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>'
    html += message
    html += '</div>'
    $(html).hide().prependTo('#noty-holder').slideDown()
  #initialization
  initialize = ->
   Auth.logout(user)
   user = $scope.user = {}
   is_auth = $scope.is_auth = false
   is_checked = $scope.is_checked = false
   messages = $scope.messages= _t('you_have_checked_in_successfully')

  interval = setInterval(dateUpdate, 1000)
  dateUpdate()
  initialize()
 
]
