<h2 translate>{{ 'pricing.rentals' }}</h2>

<div ng-show="fablabWithoutRentals" class="msg msg-warning m-t">
  {{ 'pricing.beware_the_subscriptions_are_disabled_on_this_application' | translate }}
  {{ 'pricing.you_can_create_some_but_they_wont_be_available_until_the_project_is_redeployed_by_the_server_manager' | translate }}
  <br>{{ 'pricing.for_safety_reasons_please_dont_create_subscriptions_if_you_dont_want_intend_to_use_them_later' | translate }}
</div>

<div class="m-t-lg">
  <button type="button" class="btn btn-warning" ui-sref="app.admin.rentals.new">
    <i class="fa fa-plus m-r"></i>
    <span translate>{{ 'pricing.add_a_new_subscription_rental' }}</span>
  </button>
  <div class="form-group pull-right">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-filter"></i></span>
      <select ng-model="rentalFiltering" class="form-control">
        <option ng-repeat="status in filterDisabled" value="{{status}}" translate>{{ 'pricing.status_'+status }}</option>
      </select>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th><a href="" ng-click="setOrderRentals('type')">{{ 'pricing.type' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': orderRentals=='type', 'fa fa-sort-alpha-desc': orderRentals=='-type', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th><a href="" ng-click="setOrderRentals('name')">{{ 'pricing.name' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': orderRentals=='name', 'fa fa-sort-alpha-desc': orderRentals=='-name', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th><a href="" ng-click="setOrderRentals('interval')">{{ 'pricing.duration' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-amount-asc': orderRentals=='interval', 'fa fa-sort-amount-desc': orderRentals=='-interval', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th><a href="" ng-click="setOrderRentals('group_id')">{{ 'pricing.group' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-alpha-asc': orderRentals=='group_id', 'fa fa-sort-alpha-desc': orderRentals=='-group_id', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th class="hidden-xs"><a href="" ng-click="setOrderRentals('pricing.ui_weight')">{{ 'pricing.prominence' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-numeric-asc': orderRentals=='ui_weight', 'fa fa-sort-numeric-desc': orderRentals=='-ui_weight', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th><a href="" ng-click="setOrderRentals('amount')">{{ 'pricing.price' | translate }} <i class="fa fa-arrows-v" ng-class="{'fa fa-sort-numeric-asc': orderRentals=='amount', 'fa fa-sort-numeric-desc': orderRentals=='-amount', 'fa fa-arrows-v': orderRentals }"></i></a></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="rentals in rentals | filterDisabled:rentalFiltering | orderBy:orderRentals"
      ng-class="{'disabled-line' : rental.disabled && rentalFiltering === 'all'}"
      ng-init="group = getGroupFromId(groups, rental.group_id)"
      ng-hide="group.disabled">
    <td>{{getRentalType(rental.type)}}</td>
    <td>{{rental.base_name}}</td>
    <td>{{ rental.interval | rentalIntervalFilter:rental.interval_count }}</td>
    <td>{{group.name}}</td>
    <td class="hidden-xs">{{rental.ui_weight}}</td>
    <td>{{rental.amount | currency}}</td>
    <td>
      <div class="buttons">
        <button type="button" class="btn btn-default" ui-sref="app.admin.rentals.edit({id:rental.id})">
          <i class="fa fa-edit"></i> {{ 'edit' | translate }}
        </button>
        <button class="btn btn-danger" ng-click="deleteRental(rentals, rental.id)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>



<!--div class="msg msg-warning m-t">
  {{ 'pricing.these_prices_match_space_hours_rates_' | translate }} <span class="font-bold" translate>{{ 'pricing._without_subscriptions' }}</span>.
</div-->
<table class="table">
  <thead>
  <tr>
    <th style="width:20%"  translate>{{ 'pricing.rentals' }}</th>
    <th style="width:20%" ng-repeat="group in enabledGroups">
      <span class="text-u-c text-sm">{{group.name}}</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="space in enabledRentals">
    <td>
      {{ space.name }}
    </td>
    <td ng-repeat="group in enabledGroups">
      <span editable-number="findPriceBy(spacesPrices, space.id, group.id).amount"
            e-step="any"
            onbeforesave="updatePrice($data, findPriceBy(spacesPrices, space.id, group.id))">
          {{ findPriceBy(spacesPrices, space.id, group.id).amount | currency}}
      </span>
    </td>
  </tr>
  </tbody>
</table>