
<div class="msg m-sm text-center" ng-if="(homeBlogpost != null) && (homeBlogpost != '') && (homeBlogpost != undefined)">
	<span ng-bind-html="homeBlogpost"></span>
</div>

<div class="row wrapper">
	<div class="col-lg-8">
		<h4 class="text-sm m-t-sm text-center" translate>{{ 'latest_documented_projects' }}</h4>
    <div class="row">
      <div class="col-lg-12" ng-show="!lastProjects.length > 0">
        <p class="text-center" translate>{{ 'no_documented_projects' }}</p>
      </div>
      <div class="col-lg-4" ng-repeat="project in lastProjects | limitTo:3">
        <div class="card card-project" >

          <div class="card-header">
            <a ui-sref="app.public.projects_show({id:project.slug})">
              <div class="card-header-bg" style="background-image: url({{project.project_image}});">
                <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder ng-if="!project.project_image">
              </div>
            </a>
          </div>

          <div class="card-block">
            <a ui-sref="app.public.projects_show({id:project.slug})">
              <h3 class="card-meta" ng-if="openlab.searchOverWholeNetwork"><i class="fa fa-tag"></i> {{ project.app_name }}</h3>
              <h1 class="card-title">{{project.name}}</h1>
            </a>
          </div>

          <div class="text-center">
            <span class="badge" ng-if="project.state == 'draft'" translate>{{ 'rough_draft' }}</span>
          </div>

        </div>
      </div>
    </div>
  </div>


	<div class="col-lg-4 m-t-lg">

		<section class="widget panel b-a m-t-sm" ng-if="lastTweets.length > 0">
		  <div class="panel-heading b-b small">
		    <div class="pull-right text-xs align">
		        <a href="https://twitter.com/{{ twitterName }}" ng-show="twitterName" target="_blank">{{ 'follow_us' | translate }}
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x text-yellow"></i>
					  <i class="fa fab-twitter fa-stack-1x fa-inverse text-white"></i>
					</span>
				</a>
		   </div>
		    <h2 translate>{{ 'latest_tweets' }}</h2>
		  </div>

		    <ul class="widget-content list-group list-group-lg no-bg auto">
		      <li ng-repeat="tweet in lastTweets" class="text-sm list-group-item no-b clearfix" ng-bind-html="tweet.text">
		      </li>
		    </ul>

		</section>

		<section class="widget panel b-a" >
		  <div class="panel-heading small b-b">
		    <!-- <span class="badge inverse pull-right">110</span> -->
		    <h2 translate>{{ 'latest_registered_members' }}</h2>
		  </div>

			<div class="row m-n">
        <div class="col-md-6 b-b b-r block-link"  ng-repeat="member in lastMembers" ui-sref="app.logged.members_show({id:member.slug})">


          <div class="padder-v">
            <span class="avatar avatar-block text-center">
              <fab-user-avatar ng-model="member.profile.user_avatar" avatar-class="thumb-50"></fab-user-avatar>
              <!-- <i class="on b-white bottom"></i> -->
              <a ><span class="user-name m-l-sm text-black m-t-xs">{{member.name}}</span></a>
            </span>
          </div>

        </div>
                <!-- TODO EVEN <div class="col-md-6 b-b"> -->

      </div>
			<div class="m-t-sm m-b-sm text-center" ng-if="!isAuthenticated()">
				<button href="#" ng-click="signup($event)" class="btn btn-warning-full width-70 font-sbold rounded text-sm" translate>{{ 'create_an_account' }}</button>
			</div>

			<div class="m-t-sm m-b-sm text-center" ng-if="isAuthenticated()">
				<button href="#" ui-sref="app.logged.members" class="btn btn-warning-full width-70 font-sbold rounded text-sm" translate>{{ 'discover_members' }}</button>
			</div>



		</section>



	</div>

  <section class="col-lg-12 wrapper hidden">
    <div ng-repeat="event in (calendarEvents)">
      <div class="panel panel-{{event.colorClass}}" id="event-card-{{event.containerId}}">
        <div class="panel-heading">
          <a ng-if="event.type!='training'" href="" ui-sref="app.public.events_show({id: event.id})" data-toggle="tooltip" data-placement="top" title="{{ event.title }} ({{ event.category.name }})">
            <h4 >{{event.title}} <span class="v-middle badge text-xs" ng-class="'bg-{{event.category.name | lowercase}}'">{{event.category.name}}</span></h4>
          </a>
          <a ng-if="event.type=='training'" href="" ui-sref="app.public.training_show({id: event.id})" data-toggle="tooltip" data-placement="top" title="{{ event.title }} ({{ event.category.name }})">
            <h4>{{event.title}} <span class="v-middle badge text-xs" ng-class="'bg-{{event.category.name | lowercase}}'">{{event.category.name}}</span></h4>
          </a>
        </div>
        <div class="panel-body" style="color:black">
          <p class="event-description" ng-bind-html="event.description | simpleText | humanize : 500 | breakFilter"></p>
          <!--p>
            <i class="fa fa-calendar red"></i>
            <span ng-hide="isOneDayEvent(event)">{{ 'from_date_to_date' | translate:{START:(event.start | amDateFormat:'L'), END:(event.end | amDateFormat:'L')} }}</span>
            <span ng-show="isOneDayEvent(event)">{{ 'on_the_date' | translate:{DATE:(event.start | amDateFormat:'L')} }}</span>
          </p-->
          <p>
            <i class="fa fa-clock-o red"></i>
            <span ng-if="event.all_day == 'true'" translate>{{ 'all_day' }}</span>
            <span ng-if="event.all_day != 'true'">{{ 'from_time_to_time' | translate:{START:(event.start | amDateFormat:'LT'), END:(event.end | amDateFormat:'LT')} }}</span>
          </p>
          <p ng-if="event.nb_total_places > 0 && event.nb_free_places > -1">
            <i class="fa fa-user red"></i>
            <span ng-if="event.nb_free_places > 0">{{ 'still_available' | translate }} {{event.nb_free_places}}</span>
            <span ng-if="!event.nb_total_places" translate>{{ 'free_entry' }}</span>
            <span ng-if="event.nb_total_places > 0 && event.nb_free_places <= 0" translate>{{ 'event_full' }}</span>
          </p>
          <p ng-if="event.amount > -1">
            <i class="fa fa-bookmark red"></i>
            <span ng-if="event.amount == 0" translate>{{ 'free_admission' }}</span>
            <span ng-if="event.amount > 0">{{ 'full_price' | translate }} {{event.amount | currency}}</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  </div>

  <section class="home-events col-lg-12 wrapper">
    <h4 class="text-sm m-t-sm text-center">{{ 'fablab_s_next_events' | translate }} <a ui-sref="app.public.events_list" class="pull-right"><i class="fa fa-tags"></i> {{ 'every_events' | translate }}</a></h4>

    <div class="col-sm-12 col-md-12">
      <div ui-calendar="calendarConfig" ng-model="eventSources" id="calendar" calendar="calendar" class="wrapper-lg"></div>
    </div>
  </section>
</div>